.env
plugins/
logs/
uploads/
node_modules/
*.log
*.zip
.DS_Store
*.sql

languages/
litespeed/
mu-plugins/
upgrade/
upgrade-temp-backup/
object-cache.php
*.dat
themes/twenty*/
themes/astra/
themes/ecolitio-theme.*
vendor/
dist/